@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Roboto", serif;
}

Body{
    background-color: black;
}

.envuelto{
    background-color: white;
    height: 37.5em;
    width: 37.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.5em;
}

.simonsays{
    height: 31.25em;
    width: 31.25em;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.color-part{
    height: 13.12em;
    width: 13.12em;
    position: absolute;
}

.verde{
    background-color: green;
    border-radius: 13em 0 0 0;
    top: 1.87em;
    left: 1.87em;
}

.rojo{
    background-color: red;
    border-radius: 0 13em 0 0;
    top: 1.87em;
    right: 1.87em;
}

.azul{
    background-color: blue;
    bottom: 1.87em;
    right: 1.87em;
    border-radius: 0 0 13em 0;
}

.amarillo{
    background-color: yellow;
    bottom: 1.87em;
    left: 1.87em;
    border-radius: 0 0 0 13em;
}

.simonsays::before{
    position: absolute;
    content: "";
    background-color: black;
    height: 13.75em;
    width: 13.75em;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

#count{
    background-color: white;
    font-size: 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 2em;
    width: 3em;
    display: grid;
    place-items: center;
    border-radius: 0.5em;
}
