@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Roboto", Italic;
}

Body{
    background-color: rgb(95, 95, 95);
}

.envuelto{
    background-color: white;
    height: 37.5em;
    width: 37.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.5em;
}

.simonsays{
    height: 31.25em;
    width: 31.25em;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.color-part{
    height: 13.12em;
    width: 13.12em;
    position: absolute;
    cursor: pointer;
}

.verde{
    background-color: #068e10;
    border-radius: 13em 0 0 0;
    top: 1.87em;
    left: 1.87em;
}

.rojo{
    background-color: #950310;
    border-radius: 0 13em 0 0;
    top: 1.87em;
    right: 1.87em;
}

.azul{
    background-color: #01019c;
    bottom: 1.87em;
    right: 1.87em;
    border-radius: 0 0 13em 0;
}

.amarillo{
    background-color: #919110;
    bottom: 1.87em;
    left: 1.87em;
    border-radius: 0 0 0 13em;
}

.simonsays::before{
    position: absolute;
    content: "";
    background-color: black;
    height: 13.75em;
    width: 13.75em;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

#count{
    background-color: white;
    font-size: 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 2em;
    width: 3em;
    display: grid;
    place-items: center;
    border-radius: 0.5em;
}

.oculto{
    display: none;
}

.contenedor{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor button {
    background-color: white;
    font-size: 1.2em;
    border: none;
    outline: none;
    padding: 1em 2em;
    border-radius: 0.3em;
    cursor: pointer;
}

.contenedor p{
    font-size: 2em;
    color: white;
    margin-bottom: 1em;
}

.contenedor span{
    font-weight: 600;
}

@media screen and (max-width: 600px){
    body{
        font-size: 10px;
    }

    .envuelto{
        height: 35em;
        width: 35em;
    }
}